.form1{
    background-color: #20232A;
    border-radius: 25px;
}

#floatingTextarea2{
    border-radius: 25px;
    background-color: #20232A;
    color: #CECFD1;
}

.left{
    border-radius: 25px;
    background-color: #CECFD1;
    color: #20232A;
    display: grid;
    place-items: center;
}
